<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <div class="wrapper">
        <nav class="nav">
            <div class="nav-logo">
                <p>Pear Up</p>
            </div>
            <!-- Rm the links -->
            <div class="nav-button">
                <button class="btn" id="loginBtn">ADMIN</button>
                <button class="btn white-btn" id="registerBtn">New APP!</button>
            </div>
            <div class="nav-menu-btn">
                <i class="bx bx-menu"></i>
            </div>
        </nav>
    </div>
    
</body>
</html>