<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/admin.css">
</head>
<body>
    <div class="wrapper">
        <nav class="nav">
            <div class="nav-logo">
                <p>Pear Up</p>
            </div>
            <div class="nav-button">
                
            </div>
            <div class="nav-menu-btn">
                <i class="bx bx-menu"></i>
            </div>
        </nav>
        <div class="dashboard-container">
            <h1>Admin Dashboard</h1>
            <div class="stats-box">
                <div class="stat">
                    <h2>Total Applications</h2>
                    <p class="number"><%= stats.appCount %></p>
                </div>
                <div class="stat">
                    <h2>Unique Companies</h2>
                    <p class="number"><%= stats.uniqueJobs %></p>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
